body {
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.wrapper-timer {
  margin: 0 auto;
  max-width: 500px;
  min-width: 320px;
  padding: 10px;

  border-radius: 10px;
  background-color: #493c96;
}

.timer {
  display: grid;
  grid-template-columns: 1fr auto 1fr auto 1fr auto 1fr;
  align-items: center;

  max-width: 600px;

  color: rgb(224, 224, 224);

  .value,
  .label {
    display: block;
    text-align: center;
  }

  .label {
    font-size: 16px;

    @media screen and (max-width: 399px) {
      font-size: 13px;
    }
  }

  .value {
    font-size: 50px;

    @media screen and (max-width: 399px) {
      font-size: 40px;
    }
  }

  .separator {
    align-self: start;
    font-size: 45px;

    @media screen and (max-width: 399px) {
      font-size: 35px;
    }
  }
}

.inputDate {
  flex-grow: 1;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
}

.button {
  flex-shrink: 0;
  display: block;
  width: 100px;
  padding: 2px 5px;

  border-radius: 5px;
  border: none;
  transition: background-color 200ms linear, color 200ms linear;

  &:enabled:hover,
  &:enabled:focus {
    background-color: #dadada;
    color: #493c96;
    cursor: pointer;
  }

  &:active {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 1) inset;
  }
}

.wrapper-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;

  @media screen and (max-width: 459px) {
    justify-content: space-between;
  }
}
